<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Get Instagram</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
	/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css" />

	<!-- CSS Files -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/material-kit.css?v=1.2.1" rel="stylesheet" />
</head>

<body class="index-page">
	<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll=" " id="sectionsNav">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Get Instagram</a>
			</div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">account_circle</i> About Me
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-with-icons">
                            <li>
                                <a href="https://blog.hellcatvn.com/">
                                    <i class="material-icons">list</i> Blogs
                                </a>
                            </li>
                            <li>
                                <a href="https://blog.hellcatvn.com/about-me">
                                    <i class="material-icons">call</i> Contacts
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">view_carousel</i> Others
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-with-icons">
                            <li>
                                <a href="https://blog.hellcatvn.com/about-me">
                                    <i class="material-icons">account_balance</i> About Us
                                </a>
                            </li>
                            <li>
                                <a href="https://blog.hellcatvn.com/">
                                    <i class="material-icons">art_track</i> Blog Post
                                </a>
                            </li>
                            <li>
                                <a href="https://blog.hellcatvn.com/chat-fuel-01-api-instagram/">
                                    <i class="material-icons">apps</i> API Get Instagram
                                </a>
                            </li>                            
                        </ul>
                    </li>

                    <li class="button-container">
                        <a href="https://blog.hellcatvn.com/donate" target="_blank" class="btn btn-rose btn-round">
                            <i class="material-icons">free_breakfast</i> Donate
                        </a>
                    </li>
                </ul>
            </div>
		</div>
	</nav>
	<div class="page-header header-filter clear-filter" data-parallax="true" style="">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Get Instagram
							<div class="pro-badge">
								Pro
							</div>
						</h1>

						<h3 class="title">Tools help you save picture and video instagram</h3>
					</div>
				</div>
			</div>
		</div>
	</div>