<% include header %>
    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <div class="title">
                    <div class="row">
                        <div class="pull-right">
                            <span>Cập nhật:</span>
                            <span class="label label-rose">9/7/2018</span>
                            <span>Tình Trạng:</span>
                            <span class="label label-success">Hoạt động</span>
                        </div>
                    </div>
                    <div class="row">
                        <h2>Thông tin cơ bản:</h2>
                        <h4>-Tool chỉ hỗ trợ get những ảnh và video công khai.</h4>
                        <h4>-Còn về những ảnh video private mà bạn có thể nhìn thấy thì bạn có thể tham khảo hướng dẫn
                            <a href="https://blog.hellcatvn.com/userscript-03-get-image-insta/"
                                style="color:red">tại đây</a>
                        </h4>
                        <h2>Công Cụ Get Instagram:</h2>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
                                <form action="/get.html" method="POST">
                                    <div class="form-group">
                                        <input name="url" type="text" value="" placeholder="Nhập vào link cần tải" class="form-control" />
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-success btn-round" type="submit">
                                            <i class="material-icons">favorite</i>Get
                                            <div class="ripple-container"></div>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="footer footer-black footer-big">
            <div class="container">
                <hr/>
                <div class="copyright pull-right">
                    Copyright &copy; 2018 HellCatVN-Get Instagram All Rights Reserved.
                </div>
            </div>
        </footer>
    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/jquery.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="assets/js/moment.min.js"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="assets/js/nouislider.min.js" type="text/javascript"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="assets/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="assets/js/bootstrap-selectpicker.js" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="assets/js/bootstrap-tagsinput.js"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="assets/js/jasny-bootstrap.min.js"></script>
<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="assets/js/material-kit.js?v=1.2.1" type="text/javascript"></script>

</html>